
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    background: tomato;
    position: center;
    font-family: 'Raleway', sans-serif;
    
    
}



.mesa {

    background-color: black;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;

    margin: 5%;


}

